*{
  margin: 0;
  padding: 0;
}

div {
  padding: 10px 10px 0 10px; 
  max-width: 600px;
}

h1 {
  margin: 0 0 15px 0; 
  font-size: 28px;
}

P {
  margin: 15px 0 15px 0; 
  font-size: 18px;
}

ul {
  list-style: none;
  padding: 0;
  width: 100%;
}

li {
  padding: 8px 0;         
  font-size: 18px;
  width: 100%;
}
